div {
  background-color: rgb(243, 240, 235);
  padding: 20px;
}
#profil {
  background-color: rgb(224, 218, 210);
}
img {
  width: 10%;
  height: auto;
  border: 2px double teal;
}
button {
  background-color: #7a395b;
  color: antiquewhite;
  font-size: large;
  margin: 20px;
  margin: 20px;
}

li {
  list-style: none;
}
